rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    match /students/{uid} {
      allow read, write: if signedIn() && request.auth.uid == uid;

      match /results/{resultId} {
        allow read, write: if signedIn() && request.auth.uid == uid;
      }
    }

    match /publicResults/{docId} {
      allow read: if signedIn();
      allow create, update: if signedIn() && request.resource.data.uid == request.auth.uid;
      allow delete: if false;
    }
  }
}
